@font-face {
    font-family: Beckan;
    src: url("/src/assets/font/Beckan.otf");
}

hr {
    width: 85%;
}

.sidebar {
  flex: 0 0 20em;
  height:100vh;
  width:20em;
  background:#a9a9a9;
}

.title {
    font-family: Beckan;
    font-size: 48px;
    padding: 0px 20px;
    margin: 10px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        transition: all 0.5s ease-out allow-discrete;
        flex: 0 0 4em;
        height:100vh;
        width:4em;
        background:#a9a9a9;
      }   
}

@media only screen and (min-width: 768px) {
    .sidebar {
        transition: all 0.5s ease-out allow-discrete;
        flex: 0 0 20em;
        height:100vh;
        width:20em;
        background:#a9a9a9;
      }   
}